services:
  factorio:
    image: debian@sha256:8f6a88feef3ed01a300dafb87f208977f39dccda1fd120e878129463f7fa3b8f
    container_name: factorio
    restart: always
    user: 1000:1000
    ports:
      - 34197:34197/udp
      - 27015:27015/tcp
    volumes:
      - ./data:/factorio
    command:
      - /factorio/bin/x64/factorio
      - --start-server
      - /factorio/local.zip
      - --server-settings
      - /factorio/data/server-settings.json
    environment:
      TZ: "Asia/Singapore"
