services:
  prometheus:
    image: prom/prometheus@sha256:49214755b6153f90a597adcbff0252cc61069f8ab69ce8411285cd4a560e8038
    container_name: prometheus
    volumes:
      - "./prometheus.yml:/etc/prometheus/prometheus.yml"
      - "prometheus:/prometheus"
    restart: always
    networks:
      - cadvisor
      - smartctl-exporter
      - prometheus
      - loki
    environment:
      TZ: Asia/Singapore
    command:
      - --web.enable-remote-write-receiver
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --web.console.libraries=/usr/share/prometheus/console_libraries
      - --web.console.templates=/usr/share/prometheus/consoles
    extra_hosts:
      - "host.docker.internal:host-gateway"
    labels:
      traefik.enable: true
      traefik.http.routers.prometheus.rule: Host(`prometheus.internal.nicholaslyz.com`)
      traefik.http.routers.prometheus.entrypoints: tailscale
      traefik.docker.network: core_prometheus
      homepage.group: Services
      homepage.name: Prometheus
      homepage.icon: prometheus
      homepage.href: https://prometheus.internal.nicholaslyz.com
      homepage.siteMonitor: &url http://prometheus:9090
      homepage.widget.type: prometheus
      homepage.widget.url: *url

volumes:
  prometheus:

networks:
  prometheus:
