services:
  qbittorrent:
    container_name: qbittorrent
    image: lscr.io/linuxserver/qbittorrent@sha256:a2eedc99b4876916943bd33e7c415efc448f6b514aa39b4f98c1e6472a717301
    restart: always
    volumes:
      - ./data:/config/qBittorrent:rw
      - /mnt/storage/Downloads:/config/Downloads:rw
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Asia/Singapore
      DOCKER_MODS: ghcr.io/vuetorrent/vuetorrent-lsio-mod:latest
    networks:
      - qbittorrent
    labels:
      traefik.http.routers.qbittorrent.rule: Host(`qbittorrent.internal.nicholaslyz.com`)
      traefik.http.routers.qbittorrent.entrypoints: tailscale
      traefik.http.services.qbittorrent.loadbalancer.server.port: 8080
      traefik.docker.network: core_qbittorrent
      traefik.enable: true
      homepage.group: Services
      homepage.name: qBittorrent
      homepage.icon: qbittorrent
      homepage.href: https://qbittorrent.internal.nicholaslyz.com
      homepage.siteMonitor: &url http://qbittorrent:8080
      homepage.widget.type: qbittorrent
      homepage.widget.url: *url

networks:
  qbittorrent:
