services:
  karakeep:
    image: ghcr.io/karakeep-app/karakeep:release@sha256:20754dbdafb11dfe288bbb1c2342a7855081b08ea069e86fcf2d4a2d945d3653
    container_name: karakeep
    restart: always
    volumes:
      - ./data/data:/data
    networks:
      - karakeep
    environment:
      BROWSER_WEBSOCKET_URL: ws://browserless:3000/chromium/playwright?token=${BROWSERLESS_TOKEN}
      BROWSER_CONNECT_ONDEMAND: true
      CRAWLER_NUM_WORKERS: 2
      DATA_DIR: /data
      DISABLE_SIGNUPS: true
      INFERENCE_CONTEXT_LENGTH: 32000
      INFERENCE_IMAGE_MODEL: openai/gpt-4.1-mini
      INFERENCE_TEXT_MODEL: openai/gpt-4.1-mini
      MEILI_ADDR: http://karakeep-meilisearch:7700
      MEILI_MASTER_KEY: ${KARAKEEP_MEILI_MASTER_KEY}
      NEXTAUTH_SECRET: ${KARAKEEP_NEXTAUTH_SECRET}
      NEXTAUTH_URL: https://karakeep.nicholaslyz.com
      OPENAI_API_KEY: ${OPENROUTER_API_KEY}
      OPENAI_BASE_URL: https://openrouter.ai/api/v1
    depends_on:
      - karakeep-meilisearch
      - browserless
    labels:
      traefik.enable: true
      traefik.docker.network: core_karakeep
      homepage.group: Services
      homepage.name: Karakeep
      homepage.icon: karakeep
      homepage.href: &url https://karakeep.nicholaslyz.com
      homepage.siteMonitor: *url
      homepage.widget.type: karakeep
      homepage.widget.url: *url
      homepage.widget.key: ${HOMEPAGE_KEY}

  karakeep-meilisearch:
    image: getmeili/meilisearch@sha256:203a0854738be101bfdada825ac3cbf95e5681bc849757b6bc199e4cfae98faa
    container_name: karakeep-meilisearch
    restart: always
    command:
      - meilisearch
      - --experimental-dumpless-upgrade
    networks:
      - karakeep
    environment:
      MEILI_NO_ANALYTICS: "true"
      MEILI_MASTER_KEY: ${KARAKEEP_MEILI_MASTER_KEY}
    volumes:
      - ./data/meilisearch:/meili_data

networks:
  karakeep:
