[submodule "services/backend"]
	path = services/backend
	url = ./services/backend/
[submodule "services/virt-manager"]
	path = services/virt-manager
	url = ./services/virt-manager/
[submodule "services/realtime-todo-server"]
	path = services/realtime-todo-server
	url = ./services/realtime-todo-server/
