services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:main@sha256:c0297cf2f76e0ba21d19eb3a21753d3b271c0247694cba3948677d2a97ec559f
    container_name: open-webui
    restart: always
    volumes:
      - ./data:/app/backend/data
    environment:
      CUSTOM_NAME: AI Chat
    networks:
      - open-webui
    labels:
      traefik.enable: true
      traefik.docker.network: core_open-webui
      homepage.group: Services
      homepage.name: Open WebUI
      homepage.icon: open-webui
      homepage.href: &url https://open-webui.nicholaslyz.com
      homepage.siteMonitor: *url

networks:
  open-webui:
