services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:main@sha256:18c1475e636245e2f439b59b4a2b38e1965c881856092d21e5efc38da7e1dac3
    container_name: open-webui
    restart: always
    volumes:
      - ./data:/app/backend/data
    environment:
      CUSTOM_NAME: AI Chat
    networks:
      - open-webui
    labels:
      traefik.enable: true
      traefik.docker.network: core_open-webui
      homepage.group: Services
      homepage.name: Open WebUI
      homepage.icon: open-webui
      homepage.href: &url https://open-webui.nicholaslyz.com
      homepage.siteMonitor: *url

networks:
  open-webui:
