services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:main@sha256:ea750f19fc2a7ca0cb221bc512b8c2c470a01616b89ed98cb77d9ab0d5f24109
    container_name: open-webui
    restart: always
    volumes:
      - ./data:/app/backend/data
    environment:
      CUSTOM_NAME: AI Chat
    networks:
      - open-webui
    labels:
      traefik.enable: true
      traefik.docker.network: core_open-webui
      homepage.group: Services
      homepage.name: Open WebUI
      homepage.icon: open-webui
      homepage.href: &url https://open-webui.nicholaslyz.com
      homepage.siteMonitor: *url

networks:
  open-webui:
