services:
  browserless:
    container_name: browserless
    image: ghcr.io/browserless/chromium@sha256:721bc471a3a23d9b18cae3a41ac129f25d454e8a15b797c1da3f8a98827642c3
    restart: always
    environment:
      TZ: Asia/Singapore
      TOKEN: ${BROWSERLESS_TOKEN}

      # The following are necessary for link previews to work
      CORS: true
    networks:
      - changedetection-io
      - karakeep
      - reactive-resume

      # External
      - polythought

networks:
  polythought:
    external: true
    name: polythought_polythought
