services:
  browserless:
    container_name: browserless
    image: ghcr.io/browserless/chromium@sha256:8f60595cc4f2a987dfc8b3c2d1fc1a8d5e73d67e3d27229a084b5dd5a9fc65a3
    restart: always
    environment:
      TZ: Asia/Singapore
      TOKEN: ${BROWSERLESS_TOKEN}

      # The following are necessary for link previews to work
      CORS: true
    networks:
      - changedetection-io
      - karakeep
      - reactive-resume

      # External
      - polythought

networks:
  polythought:
    external: true
    name: polythought_polythought
