services:
  browserless:
    container_name: browserless
    image: ghcr.io/browserless/chromium@sha256:6d87229a8a8b1c26346b183c7298dca571ddb0914c5bc595fec155aa4008b2ec
    restart: always
    environment:
      TZ: Asia/Singapore
      TOKEN: ${BROWSERLESS_TOKEN}

      # The following are necessary for link previews to work
      CORS: true
    networks:
      - changedetection-io
      - karakeep
      - reactive-resume

      # External
      - polythought

networks:
  polythought:
    external: true
    name: polythought_polythought
