services:
  browserless:
    container_name: browserless
    image: ghcr.io/browserless/chromium@sha256:afcea6f6d6896ec11f4c0780fd6a29e99380adcc473b594ca42b313ff1f34cff
    restart: always
    environment:
      TZ: Asia/Singapore
      TOKEN: ${BROWSERLESS_TOKEN}

      # The following are necessary for link previews to work
      CORS: true
    networks:
      - changedetection-io
      - karakeep
      - reactive-resume

      # External
      - polythought

networks:
  polythought:
    external: true
    name: polythought_polythought
