services:
  browserless:
    container_name: browserless
    image: ghcr.io/browserless/chromium@sha256:3c467f68e3b588b89faa6d27556a798121defc46509100386cd100248599fd3f
    restart: always
    environment:
      TZ: Asia/Singapore
      TOKEN: ${BROWSERLESS_TOKEN}

      # The following are necessary for link previews to work
      CORS: true
    networks:
      - changedetection-io
      - karakeep
      - reactive-resume

      # External
      - polythought

networks:
  polythought:
    external: true
    name: polythought_polythought
