services:
  browserless:
    container_name: browserless
    image: ghcr.io/browserless/chromium@sha256:78069f933b3b457410a9348845d7273d8ada8e2f10a85b5f5a7e9895f1334093
    restart: always
    environment:
      TZ: Asia/Singapore
      TOKEN: ${BROWSERLESS_TOKEN}

      # The following are necessary for link previews to work
      CORS: true
    networks:
      - changedetection-io
      - karakeep
      - reactive-resume

      # External
      - polythought

networks:
  polythought:
    external: true
    name: polythought_polythought
