services:
  metabase:
    image: metabase/metabase:latest@sha256:2ec9dc9f727be1eb9bf4b9438932f7a235b00f14649a86a09513f7988221f692
    container_name: metabase
    restart: always
    volumes:
      - /dev/urandom:/dev/random:ro
      - ../backend:/db/backend:ro # Literature
    healthcheck:
      test: curl --fail -I http://localhost:3000/api/health || exit 1
      interval: 15s
      timeout: 5s
      retries: 5
    environment:
      MB_DB_TYPE: postgres
      MB_DB_HOST: metabase-db
      MB_DB_PORT: 5432
      MB_DB_DBNAME: metabaseappdb
      MB_DB_USER: postgres
      MB_DB_PASS: ${MB_DB_PASS}
    depends_on:
      - metabase-db
    networks:
      - metabase
    labels:
      traefik.enable: true
      traefik.docker.network: core_metabase
      homepage.group: Services
      homepage.name: Metabase
      homepage.icon: metabase
      homepage.href: &url https://metabase.nicholaslyz.com
      homepage.siteMonitor: *url

  metabase-db:
    image: postgres:18@sha256:69e8582b781cb44fa4557b98ed586fe68361e320d9b12f9707494335634f4f3d
    restart: always
    container_name: metabase-db
    networks:
      - metabase
    environment:
      POSTGRES_DB: metabaseappdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${MB_DB_PASS}
    volumes:
      - ./data:/var/lib/postgresql

networks:
  metabase:
