services:
  metabase:
    image: metabase/metabase:latest@sha256:7cde7e7129ed13ec153ba7f5d08d79f4cb7db84dc06d9a47d411e66f65fd6933
    container_name: metabase
    restart: always
    volumes:
      - /dev/urandom:/dev/random:ro
      - ../backend:/db/backend:ro # Literature
    healthcheck:
      test: curl --fail -I http://localhost:3000/api/health || exit 1
      interval: 15s
      timeout: 5s
      retries: 5
    environment:
      MB_DB_TYPE: postgres
      MB_DB_HOST: metabase-db
      MB_DB_PORT: 5432
      MB_DB_DBNAME: metabaseappdb
      MB_DB_USER: postgres
      MB_DB_PASS: ${MB_DB_PASS}
    depends_on:
      - metabase-db
    networks:
      - metabase
      - trading-bot-db
    labels:
      traefik.enable: true
      traefik.docker.network: core_metabase
      homepage.group: Services
      homepage.name: Metabase
      homepage.icon: metabase
      homepage.href: &url https://metabase.nicholaslyz.com
      homepage.siteMonitor: *url

  metabase-db:
    image: postgres:18@sha256:41fc5342eefba6cc2ccda736aaf034bbbb7c3df0fdb81516eba1ba33f360162c
    restart: always
    container_name: metabase-db
    networks:
      - metabase
    environment:
      POSTGRES_DB: metabaseappdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${MB_DB_PASS}
    volumes:
      - ./data:/var/lib/postgresql

networks:
  metabase:
  trading-bot-db:
    name: ibkr_trading-bot-db
    external: true
