services:
  metabase:
    image: metabase/metabase:latest@sha256:bbea3d5c486de65f1b80b2315c36b184ec9ee66525cf49e8c596b3707485008a
    container_name: metabase
    restart: always
    volumes:
      - /dev/urandom:/dev/random:ro
      - ../backend:/db/backend:ro # Literature
    healthcheck:
      test: curl --fail -I http://localhost:3000/api/health || exit 1
      interval: 15s
      timeout: 5s
      retries: 5
    environment:
      MB_DB_TYPE: postgres
      MB_DB_HOST: metabase-db
      MB_DB_PORT: 5432
      MB_DB_DBNAME: metabaseappdb
      MB_DB_USER: postgres
      MB_DB_PASS: ${MB_DB_PASS}
    depends_on:
      - metabase-db
    networks:
      - metabase
    labels:
      traefik.enable: true
      traefik.docker.network: core_metabase
      homepage.group: Services
      homepage.name: Metabase
      homepage.icon: metabase
      homepage.href: &url https://metabase.nicholaslyz.com
      homepage.siteMonitor: *url

  metabase-db:
    image: postgres:18@sha256:5ec39c188013123927f30a006987c6b0e20f3ef2b54b140dfa96dac6844d883f
    restart: always
    container_name: metabase-db
    networks:
      - metabase
    environment:
      POSTGRES_DB: metabaseappdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${MB_DB_PASS}
    volumes:
      - ./data:/var/lib/postgresql

networks:
  metabase:
