services:
  audiobookshelf:
    container_name: audiobookshelf
    image: ghcr.io/advplyr/audiobookshelf:latest@sha256:e23adb24848d99d19cd1e251aee4e1e12ed4f5effc8ccb21754b062b6a06cf66
    restart: always
    user: 1000:1000
    environment:
      TZ: Asia/Singapore
    volumes:
      - /mnt/storage/Audio/Audiobooks:/audiobooks
      - /mnt/storage/Audio/Podcasts:/podcasts
      - ./data/config:/config
      - ./data/metadata:/metadata
    networks:
      - audiobookshelf
    labels:
      traefik.enable: true
      traefik.docker.network: core_audiobookshelf
      homepage.group: Services
      homepage.name: Audiobookshelf
      homepage.icon: audiobookshelf
      homepage.href: &url https://audiobookshelf.nicholaslyz.com
      homepage.siteMonitor: *url
      homepage.widget.type: audiobookshelf
      homepage.widget.url: *url
      homepage.widget.key: ${API_KEY}

networks:
  audiobookshelf:
