services:
  microbin:
    container_name: microbin
    image: danielszabo99/microbin@sha256:34fe4ac99b65cc633975ae72ca6fc84eab15f73a95b2e03b98312374063ee5d7
    restart: always
    volumes:
      - microbin:/app
    command:
      [
        "--editable",
        "--enable-burn-after",
        "--qr",
        "--private",
        "--default-expiry",
        "1week",
        "--hide-footer",
        "--public-path",
        "https://microbin.nicholaslyz.com",
      ]
    networks:
      - microbin
    environment:
      MICROBIN_THREADS: 2
      MICROBIN_QR: true
      MICROBIN_ETERNAL_PASTA: true
      MICROBIN_GC_DAYS: 365 # Auto delete after 1 year of no access
      MICROBIN_ADMIN_USERNAME: ${MICROBIN_ADMIN_USERNAME}
      MICROBIN_ADMIN_PASSWORD: ${MICROBIN_ADMIN_PASSWORD}
    labels:
      traefik.enable: true
      traefik.docker.network: core_microbin
      homepage.group: Services
      homepage.name: Microbin
      homepage.icon: microbin
      homepage.href: &url https://microbin.nicholaslyz.com
      homepage.siteMonitor: *url

volumes:
  microbin:

networks:
  microbin:
