services:
  scrutiny:
    container_name: scrutiny
    image: ghcr.io/analogj/scrutiny:master-omnibus@sha256:18689773150d6b8b53c94a435f40f7b6e946fd4a6d40b44c64fa2154a5b38941
    restart: always
    privileged: true
    volumes:
      - ./data/config:/opt/scrutiny/config
      - ./data/influxdb:/opt/scrutiny/influxdb
    environment:
      TZ: Asia/Singapore
    networks:
      - scrutiny
    labels:
      traefik.http.routers.scrutiny.rule: Host(`scrutiny.internal.nicholaslyz.com`)
      traefik.http.routers.scrutiny.entrypoints: tailscale
      traefik.enable: true
      traefik.docker.network: core_scrutiny
      homepage.group: Services
      homepage.name: Scrutiny
      homepage.icon: scrutiny
      homepage.href: https://scrutiny.internal.nicholaslyz.com
      homepage.siteMonitor: &url http://scrutiny:8080
      homepage.widget.type: scrutiny
      homepage.widget.url: *url

networks:
  scrutiny:
