services:
  reactive-resume-postgres:
    container_name: reactive-resume-postgres
    image: postgres:18-alpine@sha256:4da1a4828be12604092fa55311276f08f9224a74a62dcb4708bd7439e2a03911
    restart: always
    networks:
      - reactive-resume
    volumes:
      - ./data/postgres:/var/lib/postgresql
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  reactive-resume:
    container_name: reactive-resume
    image: amruthpillai/reactive-resume:sha-cabacdc@sha256:0d7b28e79483b80db85c71fc4e8f3402a22a37b574e015c46d2b861cef5635aa
    restart: always
    depends_on:
      reactive-resume-postgres:
        condition: service_healthy
      browserless:
        condition: service_started
    volumes:
      - ./data/reactive-resume:/app/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api/health"]
    networks:
      - reactive-resume
    environment:

      # --- Server ---
      TZ: "Asia/Singapore"
      APP_URL: https://reactive-resume.nicholaslyz.com

      # --- Printer ---
      PRINTER_ENDPOINT: ${PRINTER_ENDPOINT}

      # --- Database (PostgreSQL) ---
      DATABASE_URL: postgresql://postgres:postgres@reactive-resume-postgres:5432/postgres

      # --- Authentication ---
      AUTH_SECRET: ${AUTH_SECRET}

      # --- Email (optional) ---
      # If all keys are disabled, the app logs the email to be sent to the console instead.
      SMTP_HOST: smtp.forwardemail.net
      SMTP_PORT: 465
      SMTP_USER: ${SMTP_USER}
      SMTP_PASS: ${SMTP_PASS}
      SMTP_FROM: ${SMTP_FROM}
      SMTP_SECURE: "true"

      FLAG_DISABLE_SIGNUPS: "true"

    labels:
      traefik.enable: true
      traefik.docker.network: core_reactive-resume
      homepage.group: Services
      homepage.name: Reactive Resume
      homepage.icon: reactive-resume
      homepage.href: &url https://reactive-resume.nicholaslyz.com
      homepage.siteMonitor: *url

networks:
  reactive-resume:
