services:
  reactive-resume-postgres:
    container_name: reactive-resume-postgres
    image: postgres:18-alpine@sha256:b40d931bd0e7ce6eecc59a5a6ac3b3c04a01e559750e73e7086b6dbd7f8bf545
    restart: always
    networks:
      - reactive-resume
    volumes:
      - ./data:/var/lib/postgresql
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  reactive-resume:
    container_name: reactive-resume
    image: amruthpillai/reactive-resume:latest@sha256:f26fd329f35b97bccdf5ee5a7b558df0ccf1e073a1d7a5787e433043e22b9296
    restart: always
    depends_on:
      - reactive-resume-postgres
      - minio
      - browserless
    networks:
      - reactive-resume
    environment:
      # -- Environment Variables --
      PORT: 3000
      NODE_ENV: production

      # -- URLs --
      PUBLIC_URL: https://reactive-resume.nicholaslyz.com
      STORAGE_URL: https://minio.nicholaslyz.com/reactive-resume

      # -- Printer (Chrome) --
      CHROME_TOKEN: ${BROWSERLESS_TOKEN}
      CHROME_URL: ws://browserless:3000

      # -- Database (Postgres) --
      DATABASE_URL: postgresql://postgres:postgres@reactive-resume-postgres:5432/postgres

      # -- Auth --
      ACCESS_TOKEN_SECRET: access_token_secret
      REFRESH_TOKEN_SECRET: refresh_token_secret

      # -- Emails --
      MAIL_FROM: ${RR_MAIL_FROM}
      SMTP_URL: ${RR_SMTP_URL}

      # -- Storage (Minio) --
      STORAGE_ENDPOINT: minio
      STORAGE_PORT: 9000
      STORAGE_REGION: us-east-1 # Optional
      STORAGE_BUCKET: reactive-resume
      STORAGE_ACCESS_KEY: ${RR_MINIO_ACCESS_KEY}
      STORAGE_SECRET_KEY: ${RR_MINIO_SECRET_KEY}
      STORAGE_USE_SSL: false
      STORAGE_SKIP_BUCKET_CHECK: false

      # -- Crowdin (Optional) --
      # CROWDIN_PROJECT_ID:
      # CROWDIN_PERSONAL_TOKEN:

      # -- Email (Optional) --
      # DISABLE_SIGNUPS: false
      # DISABLE_EMAIL_AUTH: false

      # -- GitHub (Optional) --
      # GITHUB_CLIENT_ID: github_client_id
      # GITHUB_CLIENT_SECRET: github_client_secret
      # GITHUB_CALLBACK_URL: http://localhost:3000/api/auth/github/callback

      # -- Google (Optional) --
      # GOOGLE_CLIENT_ID: google_client_id
      # GOOGLE_CLIENT_SECRET: google_client_secret
      # GOOGLE_CALLBACK_URL: http://localhost:3000/api/auth/google/callback
    labels:
      traefik.enable: true
      traefik.docker.network: core_reactive-resume
      homepage.group: Services
      homepage.name: Reactive Resume
      homepage.icon: reactive-resume
      homepage.href: &url https://reactive-resume.nicholaslyz.com
      homepage.siteMonitor: *url

networks:
  reactive-resume:
