services:
  vector:
    image: timberio/vector:0.51.1-debian@sha256:31c01788f10c47530a99a51bb22d37582d557e3b8edd02dc5bd62f58b2659e34
    container_name: vector
    restart: always
    networks:
      - vector
    volumes:
      - ./vector.yml:/etc/vector/vector.yaml
      - ./data:/var/lib/vector # file checkpoints, internal state, disk buffers when sinks are unavailable
      - /var/run/docker.sock:/var/run/docker.sock:ro # For docker logs
      - /var/log/journal:/hostfs/var/log/journal:ro # For journald logs
    environment:
      TZ: Asia/Singapore

networks:
  vector:
