services:
  vector:
    image: timberio/vector:0.51.0-debian@sha256:5e8456721353d022bf31f18bc547a15fbb6ea8817b4f16b2d0723193241f6443
    container_name: vector
    restart: always
    networks:
      - vector
    volumes:
      - ./vector.yml:/etc/vector/vector.yaml
      - ./data:/var/lib/vector # file checkpoints, internal state, disk buffers when sinks are unavailable
      - /var/run/docker.sock:/var/run/docker.sock:ro # For docker logs
      - /var/log/journal:/hostfs/var/log/journal:ro # For journald logs
    environment:
      TZ: Asia/Singapore

networks:
  vector:
