services:
  stirling-pdf:
    container_name: stirling-pdf
    image: frooodle/s-pdf@sha256:6ec3e0d5d92977c58c40ce5ab78a6237b1e9a86e80b28792b4ff76db1d3fdf90
    restart: always
    environment:
      DOCKER_ENABLE_SECURITY: false
    networks:
      - stirling-pdf
    labels:
      traefik.http.routers.stirling-pdf.rule: Host(`stirling-pdf.internal.nicholaslyz.com`)
      traefik.http.routers.stirling-pdf.entrypoints: tailscale
      traefik.enable: true
      traefik.docker.network: core_stirling-pdf
      homepage.group: Services
      homepage.name: Stirling PDF
      homepage.icon: stirling-pdf
      homepage.href: https://stirling-pdf.internal.nicholaslyz.com
      homepage.siteMonitor: http://stirling-pdf:8080

networks:
  stirling-pdf:
