services:
  grafana:
    container_name: grafana
    image: grafana/grafana:latest@sha256:b0ae311af06228bcfd4a620504b653db80f5b91e94dc3dc2a5b7dab202bcde20
    restart: always
    user: 1000:1000 # Allow grafana to write to data dirs
    environment:
      # https://grafana.com/docs/grafana/latest/setup-grafana/configure-grafana/#override-configuration-with-environment-variables

      GF_SERVER_ROOT_URL: https://grafana.nicholaslyz.com

      GF_SMTP_ENABLED: true
      GF_SMTP_HOST: smtp.forwardemail.net:465
      GF_SMTP_USER: ${GF_SMTP_USER}
      GF_SMTP_PASSWORD: ${GF_SMTP_PASSWORD}
      GF_SMTP_FROM_ADDRESS: ${GF_SMTP_USER}
    networks:
      - grafana
      - loki
      - prometheus
    volumes:
      # Configuration is managed via the UI and persisted here.
      - "./data:/var/lib/grafana"
    labels:
      traefik.enable: true
      traefik.docker.network: core_grafana
      homepage.group: Services
      homepage.name: Grafana
      homepage.icon: grafana
      homepage.href: &url https://grafana.nicholaslyz.com
      homepage.siteMonitor: *url
      homepage.widget.type: grafana
      homepage.widget.url: *url
      homepage.widget.username: ${USERNAME}
      homepage.widget.password: ${PASSWORD}

networks:
  grafana:
