services:
  syncthing:
    container_name: syncthing
    image: lscr.io/linuxserver/syncthing:latest@sha256:33edb52c86194a4660a998cd9ad533677cbf635171a424a668a270c0cecd9a05
    restart: always
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Asia/Singapore
    volumes:
      - ./data:/config
      - /mnt/storage/Notes:/Notes
      - /mnt/storage/Relationship:/Relationship
      - "/mnt/storage/Personal/Passport and ID Photos:/Passport and ID Photos"
      - "/mnt/storage/Memorial Folder/Elizabeth/Ophthalmology:/Elizabeth/Ophthalmology"
    ports:
      # Required for devices without tailscale (e.g. Kindle)
      - 22000:22000/tcp
      - 22000:22000/udp
      - 21027:21027/udp #discovery broadcasts
    networks:
      - syncthing
    labels:
      traefik.http.routers.syncthing.rule: Host(`syncthing.internal.nicholaslyz.com`)
      traefik.http.routers.syncthing.entrypoints: tailscale
      traefik.enable: true
      traefik.docker.network: core_syncthing
      homepage.group: Services
      homepage.name: Syncthing
      homepage.icon: syncthing
      homepage.href: https://syncthing.internal.nicholaslyz.com
      homepage.siteMonitor: http://syncthing:8384

networks:
  syncthing:
