# Top level service directories to ignore
# To exclude individual files instead, create a .gitignore file within the folder
/angfamily-photoprism
/audiobookshelf
/calibre-web
/changedetection.io
/ddns-updater
/filebrowser
/freshrss
/immich
/jellyfin
/mealie
/metabase
/microbin
/miniflux
/minio
/navidrome
/personal-db
/qbittorrent
/reactive-resume
/scrutiny
/shadowsocks
/syncthing
/trading-bot-db
/unifi
/wallabag
