# Top level service directories to ignore
# To exclude individual files instead, create a .gitignore file within the folder
/angfamily-ocis
/angfamily-photoprism
/calibre-web
/changedetection.io
/filebrowser
/freshrss
/jellyfin
/mealie
/microbin
/navidrome
/photoprism
/qbittorrent
/scrutiny
/shadowsocks
/syncthing
/wallabag
/audiobookshelf