services:
  navidrome:
    container_name: navidrome
    image: deluan/navidrome:latest@sha256:648ebd45c50c58edc7ad9f0cc3b4411a1bece16c81f0b3630a0ab0a739c6d7ec
    restart: always
    networks:
      - navidrome
    volumes:
      - ./data:/data
      - /mnt/storage/Music2:/music:ro
    environment:
      ND_SEARCHFULLSTRING: true
      ND_SCANSCHEDULE: 1h
      ND_LOGLEVEL: info
      ND_SESSIONTIMEOUT: 72h
      ND_LASTFM_APIKEY: ${ND_LASTFM_APIKEY}
      ND_LASTFM_SECRET: ${ND_LASTFM_SECRET}
      ND_SPOTIFY_ID: ${ND_SPOTIFY_ID}
      ND_SPOTIFY_SECRET: ${ND_SPOTIFY_SECRET}
      TZ: Asia/Singapore
    labels:
      traefik.enable: true
      traefik.docker.network: core_navidrome
      homepage.group: Services
      homepage.name: Navidrome
      homepage.icon: navidrome
      homepage.href: &url https://navidrome.nicholaslyz.com
      homepage.siteMonitor: *url
      homepage.widget.type: navidrome
      homepage.widget.url: *url
      homepage.widget.user: nicholaslyz
      homepage.widget.token: ${HOMEPAGE_TOKEN}
      homepage.widget.salt: ${HOMEPAGE_SALT}

networks:
  navidrome:
