services:
  calibre-web:
    container_name: calibre-web
    image: linuxserver/calibre-web@sha256:6ad57f800588623fe598b7c8d4c39b20f9234798987757b67a8e50e7aabf95ff
    restart: always
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Asia/Singapore
      DOCKER_MODS: linuxserver/mods:universal-calibre # Enable ebook conversion
    volumes:
      - /mnt/storage/Books:/library
      - ./data:/config
    networks:
      - calibre-web
    labels:
      traefik.enable: true
      traefik.docker.network: core_calibre-web
      homepage.group: Services
      homepage.name: Calibre Web
      homepage.icon: calibre-web
      homepage.href: &url https://calibre-web.nicholaslyz.com
      homepage.siteMonitor: *url
      homepage.widget.type: calibreweb
      homepage.widget.url: *url
      homepage.widget.username: ${USERNAME}
      homepage.widget.password: ${PASSWORD}

networks:
  calibre-web:
