services:
  traefik:
    image: traefik@sha256:a9890c898f379c1905ee5b28342f6b408dc863f08db2dab20e46c267d1ff463a
    container_name: traefik
    network_mode: service:ts-traefik
    restart: always
    depends_on:
      ts-traefik:
        # Even though network_mode adds a dependency, we need healthchecks to pass otherwise we cannot bind to the tailscale iface
        condition: service_healthy
        restart: true
    volumes:
      - ./data/traefik:/etc/traefik/data
      - ./dynamic.yaml:/etc/traefik/conf.d/dynamic.yaml:ro
      - ./traefik.yaml:/etc/traefik/traefik.yaml:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      CF_DNS_API_TOKEN: ${TRAEFIK_CF_API_TOKEN}
      TRAEFIK_CERTIFICATESRESOLVERS_LERESOLVER_ACME_EMAIL: ${TRAEFIK_ACME_EMAIL}
      TRAEFIK_DIGEST_AUTH: ${TRAEFIK_DIGEST_AUTH}
    labels:
      homepage.group: Services
      homepage.name: Traefik
      homepage.icon: traefik
      homepage.href: https://traefik.internal.nicholaslyz.com

  ts-traefik:
    image: tailscale/tailscale@sha256:21df0b5a84efa35c0a507f4dd2340e1b1295683634a28968707354d5bd991d9c
    container_name: ts-traefik
    restart: always
    hostname: ts-traefik # Tailscale uses this as the machine name
    networks:
      - actualbudget
      - audiobookshelf
      - backend
      - calibre-web
      - changedetection-io
      - ddns-updater
      - glance
      - grafana
      - homepage
      - immich-server
      - jellyfin
      - karakeep
      - librespeed
      - mealie
      - metabase
      - microbin
      - miniflux
      - minio
      - navidrome
      - open-webui
      - prometheus
      - qbittorrent
      - reactive-resume
      - realtime-todo-server
      - scrutiny
      - stirling-pdf
      - syncthing
      - unifi
    ports:
      - "80:80"
      - "443:443/tcp"
      - "443:443/udp"
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://127.0.0.1:9002/healthz"]
      start_interval: 5s
      start_period: 30s
    environment:
      TS_AUTHKEY: ${TS_AUTH_KEY}
      TS_EXTRA_ARGS: --advertise-tags=tag:container
      TS_STATE_DIR: /var/lib/tailscale
      TS_USERSPACE: false # disable userspace networking, so we have the tailscale0 iface
      TS_ENABLE_HEALTH_CHECK: true
    volumes:
      - ./data/tailscale:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun # enable tailscale0 iface
    cap_add:
      - net_admin
      - sys_module
