services:
  jellyfin:
    container_name: jellyfin
    image: jellyfin/jellyfin@sha256:aab0b50a3ce43a41621fc7040a379cc57174059aec8f9c17a90176649a0c1ab1
    restart: always
    user: 1000:1000
    volumes:
      - ./data/config:/config
      - ./data/cache:/cache
      - /mnt/storage/Videos:/media
    environment:
      JELLYFIN_PublishedServerUrl: https://jellyfin.nicholaslyz.com
    networks:
      - jellyfin
    labels:
      traefik.enable: true
      traefik.docker.network: core_jellyfin
      homepage.group: Services
      homepage.name: Jellyfin
      homepage.icon: jellyfin
      homepage.href: &url https://jellyfin.nicholaslyz.com
      homepage.siteMonitor: *url
      homepage.widget.type: jellyfin
      homepage.widget.url: *url
      homepage.widget.key: ${HOMEPAGE_KEY}
      homepage.widget.enableBlocks: true # optional, defaults to false
      homepage.widget.enableNowPlaying: false

networks:
  jellyfin:
