services:
  miniflux:
    container_name: miniflux
    image: miniflux/miniflux@sha256:1f37163a178189eba09bf0a1c96d7335aa1fa474d4f958f51e0c5ad9f8136979
    restart: always
    depends_on:
      miniflux-db:
        condition: service_healthy
    environment:
      - DATABASE_URL=postgres://miniflux:secret@miniflux-db/miniflux?sslmode=disable
      - RUN_MIGRATIONS=1
    networks:
      - miniflux
    labels:
      traefik.enable: true
      traefik.docker.network: core_miniflux
      homepage.group: Services
      homepage.name: Miniflux
      homepage.icon: miniflux
      homepage.href: &url https://miniflux.nicholaslyz.com
      homepage.siteMonitor: *url
      homepage.widget.type: miniflux
      homepage.widget.url: *url
      homepage.widget.key: ${HOMEPAGE_KEY}
  miniflux-db:
    container_name: miniflux-db
    image: postgres:18@sha256:bfe50b2b0ddd9b55eadedd066fe24c7c6fe06626185b73358c480ea37868024d
    restart: always
    networks:
      - miniflux
    environment:
      - POSTGRES_USER=miniflux
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=miniflux
    volumes:
      - ./data:/var/lib/postgresql
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "miniflux"]
      interval: 10s
      start_period: 30s

networks:
  miniflux:
