services:
  miniflux:
    container_name: miniflux
    image: miniflux/miniflux@sha256:02e50d5b277857e3600c14ec1a6a064a82320077914d8eb546691a5f4c1d406c
    restart: always
    depends_on:
      miniflux-db:
        condition: service_healthy
    environment:
      - DATABASE_URL=postgres://miniflux:secret@miniflux-db/miniflux?sslmode=disable
      - RUN_MIGRATIONS=1
    networks:
      - miniflux
    labels:
      traefik.enable: true
      traefik.docker.network: core_miniflux
      homepage.group: Services
      homepage.name: Miniflux
      homepage.icon: miniflux
      homepage.href: &url https://miniflux.nicholaslyz.com
      homepage.siteMonitor: *url
      homepage.widget.type: miniflux
      homepage.widget.url: *url
      homepage.widget.key: ${HOMEPAGE_KEY}
  miniflux-db:
    container_name: miniflux-db
    image: postgres:18@sha256:41bfa2e5b168fff0847a5286694a86cff102bdc4d59719869f6b117bb30b3a24
    restart: always
    networks:
      - miniflux
    environment:
      - POSTGRES_USER=miniflux
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=miniflux
    volumes:
      - ./data:/var/lib/postgresql
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "miniflux"]
      interval: 10s
      start_period: 30s

networks:
  miniflux:
