services:
  changedetection-io:
    container_name: changedetection-io
    image: dgtlmoon/changedetection.io@sha256:a3684335bc4806b305b40271abc787687e716fbf68bfdb8e7e069ee19c599670
    restart: always
    volumes:
      - ./data:/datastore
    environment:
      PLAYWRIGHT_DRIVER_URL: ${PLAYWRIGHT_DRIVER_URL}
    labels:
      traefik.enable: true
      traefik.http.routers.changedetection-io.rule: Host(`changedetection-io.internal.nicholaslyz.com`)
      traefik.http.routers.changedetection-io.entrypoints: tailscale
      traefik.docker.network: core_changedetection-io
      homepage.group: Services
      homepage.name: Changedetection.io
      homepage.icon: changedetection
      homepage.href: https://changedetection-io.internal.nicholaslyz.com
      homepage.siteMonitor: http://changedetection-io:5000
    networks:
      - changedetection-io

networks:
  changedetection-io:
