services:
  changedetection-io:
    container_name: changedetection-io
    image: dgtlmoon/changedetection.io@sha256:928ec9ddf0be01dfe7ce390d3ece5c5d03d774407c8af37e41f2b780503e972a
    restart: always
    volumes:
      - ./data:/datastore
    environment:
      PLAYWRIGHT_DRIVER_URL: ${PLAYWRIGHT_DRIVER_URL}
    labels:
      traefik.enable: true
      traefik.http.routers.changedetection-io.rule: Host(`changedetection-io.internal.nicholaslyz.com`)
      traefik.http.routers.changedetection-io.entrypoints: tailscale
      traefik.docker.network: core_changedetection-io
      homepage.group: Services
      homepage.name: Changedetection.io
      homepage.icon: changedetection
      homepage.href: https://changedetection-io.internal.nicholaslyz.com
      homepage.siteMonitor: http://changedetection-io:5000
    networks:
      - changedetection-io

networks:
  changedetection-io:
