services:
  homepage:
    image: ghcr.io/gethomepage/homepage@sha256:8c7ec6a3c9094af7ac0686aa361fed3129264a8ed2c17594d5114a5e8342f7c9
    container_name: homepage
    restart: always
    depends_on:
      - homepage-socket-proxy
    networks:
      - changedetection-io
      - ddns-updater
      - homepage
      - prometheus
      - qbittorrent
      - scrutiny
      - stirling-pdf
      - syncthing
      - unifi
    volumes:
      - ./config:/app/config
      - ./bg.jpg:/app/public/images/bg.jpg:ro
    environment:
      HOMEPAGE_ALLOWED_HOSTS: homepage.internal.nicholaslyz.com
      LOG_TARGETS: stdout
    user: 1000:1000
    labels:
      traefik.enable: true
      traefik.http.routers.homepage.rule: Host(`homepage.internal.nicholaslyz.com`)
      traefik.http.routers.homepage.entrypoints: tailscale
      traefik.docker.network: core_homepage

  homepage-socket-proxy:
    restart: always
    container_name: homepage-socket-proxy
    image: ghcr.io/tecnativa/docker-socket-proxy@sha256:3400c429c5f9e1b21d62130fb93b16e2e772d4fb7695bd52fc2b743800b9fe9e
    networks:
      - homepage
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      CONTAINERS: 1

# Traefik can't discover containers using network_mode: service
# https://community.traefik.io/t/docker-compose-with-network-mode-service-service-name/3395/3
networks:
  homepage:
