services:
  homepage:
    image: ghcr.io/gethomepage/homepage@sha256:7fa7b07a26bd8d90a44bb975c6455b10d8dee467ce674b040750ffb4a0f486d6
    container_name: homepage
    restart: always
    depends_on:
      - homepage-socket-proxy
    networks:
      - changedetection-io
      - ddns-updater
      - homepage
      - prometheus
      - qbittorrent
      - scrutiny
      - stirling-pdf
      - syncthing
      - unifi
    volumes:
      - ./config:/app/config
      - ./bg.jpg:/app/public/images/bg.jpg:ro
    environment:
      HOMEPAGE_ALLOWED_HOSTS: homepage.internal.nicholaslyz.com
      LOG_TARGETS: stdout
    user: 1000:1000
    labels:
      traefik.enable: true
      traefik.http.routers.homepage.rule: Host(`homepage.internal.nicholaslyz.com`)
      traefik.http.routers.homepage.entrypoints: tailscale
      traefik.docker.network: core_homepage

  homepage-socket-proxy:
    restart: always
    container_name: homepage-socket-proxy
    image: ghcr.io/tecnativa/docker-socket-proxy@sha256:1f3a6f303320723d199d2316a3e82b2e2685d86c275d5e3deeaf182573b47476
    networks:
      - homepage
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      CONTAINERS: 1

# Traefik can't discover containers using network_mode: service
# https://community.traefik.io/t/docker-compose-with-network-mode-service-service-name/3395/3
networks:
  homepage:
