services:
  loki:
    image: grafana/loki:latest@sha256:847c287ada0e12603910589f42038c5cdaaad04e248bd1dc6c6e0920a235f427
    container_name: loki
    command: "-config.file=/config/loki.yml -target=all -log-config-reverse-order"
    restart: always
    networks:
      - loki
      - vector
    volumes:
      - "./loki.yml:/config/loki.yml"
      - "loki:/data" # Object store, we use a Docker volume instead of a disk mount as we don't want to snapshot logs
    user: root # https://github.com/grafana/loki/issues/5513
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget --no-verbose --tries=1 --spider http://localhost:3100/ready || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  loki:

networks:
  loki:
