services:
  shadowsocks:
    container_name: shadowsocks
    restart: always
    image: ghcr.io/shadowsocks/ssserver-rust@sha256:85d01da9879b30b0784aea2b5ffceb5234d59cd81082064c08ebb113324e1359
    volumes:
      - ./config.json:/etc/shadowsocks-rust/config.json:ro
    ports:
      - "8388:8388/tcp"
      - "8388:8388/udp"
