services:
  librespeed:
    image: lscr.io/linuxserver/librespeed@sha256:a93027934f2bf31bf77cf5ee17b032a259cf01085d19d61ee969f65be6428146
    container_name: librespeed
    restart: unless-stopped
    mem_limit: 1g
    cpus: 1
    environment:
      PUID: 1000
      PGID: 1000
      IPINFO_APIKEY: ${IPINFO_APIKEY}
      TZ: Asia/Singapore
    networks:
      - librespeed
    labels:
      traefik.enable: true
      traefik.docker.network: core_librespeed
      homepage.group: Services
      homepage.name: Librespeed
      homepage.icon: librespeed
      homepage.href: &url https://librespeed.nicholaslyz.com
      homepage.siteMonitor: *url

networks:
  librespeed:
