services:
  librespeed:
    image: lscr.io/linuxserver/librespeed@sha256:c9788f087f3bd7db68b86c188f415be1149add3b3114b74154f52a566e5b25e2
    container_name: librespeed
    restart: unless-stopped
    mem_limit: 1g
    cpus: 1
    environment:
      PUID: 1000
      PGID: 1000
      IPINFO_APIKEY: ${IPINFO_APIKEY}
      TZ: Asia/Singapore
    networks:
      - librespeed
    labels:
      traefik.enable: true
      traefik.docker.network: core_librespeed
      homepage.group: Services
      homepage.name: Librespeed
      homepage.icon: librespeed
      homepage.href: &url https://librespeed.nicholaslyz.com
      homepage.siteMonitor: *url

networks:
  librespeed:
