services:
  mealie:
    image: ghcr.io/mealie-recipes/mealie:v3.8.0@sha256:8cb354ce7b9e73304c0f3dedf13b7fe8ffe2f25775c9bbe79b5c446ef0334fd6
    container_name: mealie
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 1000M #
    volumes:
      - ./data:/app/data/
    environment:
      ALLOW_SIGNUP: true
      PUID: 1000
      PGID: 1000
      TZ: Asia/Singapore
      MAX_WORKERS: 1
      WEB_CONCURRENCY: 1
      BASE_URL: https://recipes.nicholaslyz.com
      OPENAI_API_KEY: ${OPENAI_API_KEY}
    networks:
      - mealie
    labels:
      traefik.enable: true
      traefik.docker.network: core_mealie
      homepage.group: Services
      homepage.name: Mealie
      homepage.icon: mealie
      homepage.href: &url https://mealie.nicholaslyz.com
      homepage.siteMonitor: *url
      homepage.widget.type: mealie
      homepage.widget.url: *url
      homepage.widget.key: ${HOMEPAGE_KEY}
      homepage.widget.version: 2

networks:
  mealie:
