services:
  ddns-updater:
    container_name: ddns-updater
    image: qmcgaw/ddns-updater@sha256:ee16ab4f6203bf9e5b0925d38a0b4ebf2d9f23771f933cfb2f5a2dbd5f9a2f88
    restart: always
    volumes:
      - ./data:/updater/data
    environment:
      TZ: Asia/Singapore
    networks:
      - ddns-updater
    labels:
      traefik.enable: true
      traefik.docker.network: core_ddns-updater
      traefik.http.routers.ddns-updater.rule: Host(`ddns-updater.internal.nicholaslyz.com`)
      traefik.http.routers.ddns-updater.entrypoints: tailscale
      homepage.group: Services
      homepage.name: DDNS Updater
      homepage.icon: ddns-updater
      homepage.href: https://ddns-updater.internal.nicholaslyz.com
      homepage.siteMonitor: http://ddns-updater:8000

networks:
  ddns-updater:
