services:
  ddns-updater:
    container_name: ddns-updater
    image: qmcgaw/ddns-updater@sha256:1fda67b6490caec23a443c7fd6d29a6e2d3736f76874c6e95a73651284397d80
    restart: always
    volumes:
      - ./data:/updater/data
    environment:
      TZ: Asia/Singapore
    networks:
      - ddns-updater
    labels:
      traefik.enable: true
      traefik.docker.network: core_ddns-updater
      traefik.http.routers.ddns-updater.rule: Host(`ddns-updater.internal.nicholaslyz.com`)
      traefik.http.routers.ddns-updater.entrypoints: tailscale
      homepage.group: Services
      homepage.name: DDNS Updater
      homepage.icon: ddns-updater
      homepage.href: https://ddns-updater.internal.nicholaslyz.com
      homepage.siteMonitor: http://ddns-updater:8000

networks:
  ddns-updater:
