name: Check for new Immich releases and update compose.yml if necessary

on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * *" # 8AM UTC daily

jobs:
  check-new-version:
    runs-on: ubuntu-latest
    env:
      IMMICH_COMPOSE_FILE: services/immich/compose.yml
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Pull latest compose.yml
        run: |
          curl -L https://github.com/immich-app/immich/releases/latest/download/docker-compose.yml -o /tmp/compose.yml

      - name: Fail if immich compose.yml does not exist
        run: |
          [ -f "$IMMICH_COMPOSE_FILE" ]

      - name: Add my own modifications to that compose.yml, overwriting the existing
        run: |
          # shellcheck disable=SC2016
          yq '
            with(.services.immich-server;

              # Preserve logins
              .volumes += "./data/.config:/root/.config" |
              .volumes[-1] line_comment="Save immich-cli logins on container restarts" |

              # Network
              .networks = ["immich-server"] |

              # Add traefik labels
              .labels."traefik.http.routers.immich.rule" = "Host(`immich.nicholaslyz.com`) || Host(`photos.nicholaslyz.com`) || Host(`photos.angfamily.net`)" |
              .labels."traefik.enable" = true |
              .labels."traefik.docker.network" = "core_immich-server" |

              # Redirect photos.nicholaslyz.com to immich.nicholaslyz.com
              .labels."traefik.http.middlewares.redirect-immich.redirectregex.regex" = "^https://photos.nicholaslyz.com/(.*)" |
              .labels."traefik.http.middlewares.redirect-immich.redirectregex.replacement" = "https://immich.nicholaslyz.com/$${1}" |
              .labels."traefik.http.routers.immich.middlewares" = "redirect-immich" |
              .labels."homepage.group" = "Services" |
              .labels."homepage.name" = "Immich" |
              .labels."homepage.icon" = "immich" |


              .labels."homepage.href" = "https://immich.nicholaslyz.com" |
              .labels."homepage.href" anchor = "url" |
              .labels."homepage.siteMonitor" alias = "url" |
              .labels."homepage.widget.type" = "immich" |
              .labels."homepage.widget.url" alias = "url" |
              .labels."homepage.widget.key" = "${HOMEPAGE_KEY}" |
              .labels."homepage.widget.version" = 2 |

              # We are using a reverse proxy so no need to expose ports
              del(.ports) |

              # Update depends_on container names
              .depends_on[] |= "immich-" + .
            ) |

            with(.services.immich-machine-learning;
              .networks = ["immich-server"]
            ) |

            with(.services.redis;
              key = "immich-redis" |
              .networks = ["immich-server"]
            ) |

            with(.services.database;
              key = "immich-database" |
              .networks = ["immich-server"] |
              .environment.DB_STORAGE_TYPE = "HDD"
            ) |

            with(.networks.immich-server;
              . = "" |
              . tag = "!!null"
            )
          ' /tmp/compose.yml > "$IMMICH_COMPOSE_FILE"

      - name: Create PR
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7
        with:
          title: Update immich compose.yml
          commit-message: "Automated: Update immich compose.yml"
