services:
  actualbudget:
    container_name: actualbudget
    image: ghcr.io/actualbudget/actual-server@sha256:ea21a0b6243797d35ef6c4a8713c87efaba8fec3b3663220fa3af61f352fba5e
    restart: always
    environment:
      TZ: Asia/Singapore
    volumes:
      - ./data:/data
    networks:
      - actualbudget
    labels:
      traefik.enable: true
      traefik.docker.network: core_actualbudget
      homepage.group: Services
      homepage.name: Actual Budget
      homepage.icon: actual-budget
      homepage.href: &url https://actualbudget.nicholaslyz.com
      homepage.siteMonitor: *url

networks:
  actualbudget:
