services:
  actualbudget:
    container_name: actualbudget
    image: ghcr.io/actualbudget/actual-server@sha256:8f72d73e68958566850325c1f9fe780a4477340979969bd6979649dc519723ab
    restart: always
    environment:
      TZ: Asia/Singapore
    volumes:
      - ./data:/data
    networks:
      - actualbudget
    labels:
      traefik.enable: true
      traefik.docker.network: core_actualbudget
      homepage.group: Services
      homepage.name: Actual Budget
      homepage.icon: actual-budget
      homepage.href: &url https://actualbudget.nicholaslyz.com
      homepage.siteMonitor: *url

networks:
  actualbudget:
